.invalid{
    border: 1px solid red;
}
.signup{
   
    background-image: url('../../download.jpg');
    background-position: center;
    background-size: cover;
    min-height: 93vh;
    display: flex;
}
.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}